<html>
<head>
  <style type="text/css">
   TABLE {
    border: 1px solid;
   }
   TD {
    border: 1px solid;
   }
   TH {
    border: 1px solid;
   }
  </style>
</head>
    <body>
        <table>
        <tr><th>Id рецепта</th><th>Название рецепта</th></tr>
        {% for recipe in recipies %}
        <tr><td>{{ recipe.id }}</td><td>{{ recipe.name }}</td></tr>
        {% endfor %}
        </table>
    </body>
</html>